/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
  padding-top:20px;
  padding-bottom: 20px;
}

.container{
  max-width: 1180px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
  height: 680px; /*DA TOGLIERE*/
  padding: 20px;
}

.header{ /*DA TOGLIERE*/
  height: 100px; /*DA TOGLIERE*/
}

.jumbo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 230px;
}

/* HEADER */
header{
  height: 100px;
  background-color: #3161e0;
  border: 1px solid black;
  color: #ffffff;
}

header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  margin-left: 10px;
}

header .log-in{
  margin-right: 10px;
}

/* NAV */
nav.menu ul{
  display: flex;
  gap: 40px;
}

nav.menu ul li{
  list-style: none;
}

nav.menu ul li a{
  color: #ffffff;
  text-decoration: none;
}

/* MAIN */
main section.jumbotron{
  height: 600px; /*DA TOGLIERE*/
  background-color: #3161e0;
  border: 1px solid black;
}

main section.jumbotron h1,
main section.jumbotron p{
  color: #ffffff;
  padding-top:10px;
}

/* WHITE ROW */
main .white-row{
  height: 680px; /*DA TOGLIERE*/
  background-color: #ffffff;
  border: 1px solid black;
}

main .white{
  display: flex;
  align-items: flex-start;
}

main .left-col-white{
  display: flex;
  flex-basis: 70%;
}

main img{
  background-color: aqua; /*DA TOGLIERE*/
  width: 100%; /*DA TOGLIERE*/
  height: 400px;
}

main .rigth-col-white{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-left: 100px;
}
/* /WHITE ROW */

/* GREY ROW */
main .grey-row{
  height: 650px; /*DA TOGLIERE*/
  background-color: grey;
  border: 1px solid black;
}

main .grey{
  display: flex;
  align-items: flex-start;
}

main .left-col-grey{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
}

main .rigth-col-grey{
  display: flex;
  flex-basis: 70%;
  margin-left: 100px;
}
/* /GREY ROW */

main .last{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

/* FOOTER */
footer{
  background-color: rgb(19, 19, 19);
  color: #ffffff;
}

/* FOOTER TOP */
footer .top{
  height: 350px; /*DA TOGLIERE*/
  display: flex;
}

footer .top .footer-col{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-content: space-between;
  justify-content: flex-start;
}

footer .top .footer-col .first{
  flex-basis: 60%;
}

footer .top .footer-col ul{
  list-style: none;
}

footer .top .footer-col ul li a{
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER BOTTOM */
footer .bottom{
  height: 80px;
  border-top: 1px  solid lightblue;
  padding-top: 20px;
}

footer .bottom .logo-btn{
  display: flex;
  justify-content: space-between;
}